<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://robostar.cs.york.ac.uk/CSPM"
			class = "robostar.cspm.CspmPackage"
			genModel = "model/generated/CSPM.genmodel" />
	</extension>
</plugin>
